<a class="navbar-brand" href="#">Tutoring</a>
<button
  class="navbar-toggler"
  type="button"
  data-toggle="collapse"
  data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent"
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="index.html"
        >Home <span class="sr-only">(current)</span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="search.html">Catalog</a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Pages
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="login.html">Sign In</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="pricing.html">Instructor Plans</a>
        <a class="dropdown-item" href="register-instructor.html">Instructor Registration</a>
        <a class="dropdown-item" href="instructor/index.html">Instructor Dashboard</a>
        <a class="dropdown-item" href="instructor-profile.html">Instructor Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="register-scholar.html">Scholar Registration</a>
        <a class="dropdown-item" href="scholar/index.html">Scholar Dashboard</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="search.html">Search</a>
        <a class="dropdown-item" href="topic.html">Topic Details</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="login.html">Sign In</a>
    </li>
  </ul>
  <div class="dropdown mr-3">
    <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="las la-bell"></i> Notifications <span class="badge badge-light">4</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#"><i class="las la-inbox"></i> New request from student</a>
      <a class="dropdown-item" href="#"><i class="las la-inbox"></i> Topic request accepted</a>
      <a class="dropdown-item " href="#"><i class="las la-money-bill"></i> Subscription in expired within 5 days</a>
    </div>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <a class="btn btn-outline-success my-2 my-sm-0" href="search.html">
      Search
    </a>
  </form>
</div>
