<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <i class="las la-home la-icon-size"></i>
        Dashboard <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../schedule/index.html">
        <i class="las la-calendar la-icon-size"></i>
        Schedule
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../requests/index.html">
        <i class="las la-inbox la-icon-size"></i>
        Requests
      </a>
    </li>
  </ul>
</div>
